/* 1 - IMPORTANDO FONTES */
/* 2 - MENU */
/* 3 - SLIDER / BANNER */
/* 4 - SEPARADOR DE TEXTOS */
/* 5 - SEGMENTOS */
/* 6 - PROCESSOS */
/* 7 - SOBRE */
/* 8 - CTA */
/* 9 - MAPA */
/* 10 - FOOTER */
/* 11 - BOTAO DE VOLTA AO TOPO */
/* 12 - AJUSTES ADICIONAIS - BOOTSTRAP - *** NAO RESPONSIVIDADE *** */
/* 13 - @MEDIA-QUERIES  */

@font-face {
    font-family: gentleman;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/gentleman-Regular.otf');
}
@font-face {
    font-family: gentleman-bold;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/gentleman-Bold.otf');
}
@font-face {
    font-family: gentleman-black;
    font-style: normal;
    font-weight: normal;
    src: url('fonts/gentleman-Black.otf');
}
body {
    font-family: gentleman-bold !important;
}
h3 {
    letter-spacing: 10px;
    margin: 20px auto 20px auto!important;
    font-family: gentleman !important;
}
h2 {
    letter-spacing: 15px;
    margin: 20px auto;
    font-family: gentleman !important;
}
p {
    font-family: gentleman !important;
}



/************************** MENU **************************/
.open::before{
    content: "";
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 9999999;
}
.icon-bar {
    color: #fff;
}
.nav>li>a {
    color: #fff!important;
    cursor: pointer;
    border-bottom-width: 1px;
    border-bottom-color: transparent;
    padding: 15px 0!important;
    font-size: 0.8em;
}
.nav>li>a:focus {
    /* background-color: transparent !important;
    border-bottom-width: 1px;
    border-bottom-color: #ffa800; */
    color:  #ffa800;
    transition: 1s;
}
.navbar-brand h1 {
    margin-top: -20px;
}
.navbar {
    background: rgba(0, 0, 0, 0.8);
    height: 120px;
    color: #000;
    position: fixed;
    top: 0;
    left: 0;
    text-transform: uppercase;
    font-weight: 500;
    color: #fff;
}
a {
    color: #fff;
    text-decoration: none!important;
    margin-top: 50px;
}
.navbar-color .navbar-toggle .icon-bar {
    background-color: #fff;
    margin-top: 27px;
    margin-top: 40px;
    margin-right: 40px;
}
.navbar-color>li {
    background-color: #ffa800!important;
}
.navbar-nav>li>a {
    margin-top: 56px!important;
    text-align: right;
    line-height: 10px;
    padding-top: 9px !important;
    margin-right: 5px;
}
.navbar-grey {
    background: rgba(0, 0, 0, 0.1)!important;  
}
.navbar {
    z-index: 99999999 !important;
}
.navbar-nav>li>a:hover {
    background-color: transparent !important;
    /* border-bottom: 1px solid #ffa800; */
    color:  #ffa800 !important;
}
.navbar-collapse {
    background: transparent;
    height: auto;
    width: auto;
    overflow: hidden;
    margin-bottom: 20px;
    background: rgba(0, 0, 0, 0)!important;
}
/************************** BANNER **************************/
.carousel{
    margin-bottom: 115px;
}
.carousel h3{color:#ffa800!important;}
.carousel h2{
    color:#fff!important ;

}
.carousel p{color:#fff!important;}
.carousel-caption {
    top: 30%;
    letter-spacing: 5px;
}
.carousel h3 {
    color: #ffa800;
}
.carousel a button {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
    padding: 10px 50px 10px 50px;
    margin-top: 20px;
    text-decoration: none;
    font-family: gentleman !important;
    letter-spacing: 7px;
}
.carousel a button:hover {
    background-color: #ffa800;
    border: 2px solid #fff;
    transition: 1s;
}
.carousel-inner>.item>a>img,
.carousel-inner>.item>img,
.img-responsive,
.thumbnail a>img,
.thumbnail>img {
    display: block;
    max-width: 100%;
    min-height: 600px;
}
/************************** SEPARADOR **************************/
.clearfix{
    margin-top: 60px!important;
    margin-bottom: 58px!important;
}
.separador img{
    display: block;
    margin: 80px auto 0px auto!important;
    width: 100%;
    max-width: 400px;
}
.meio-menu {
    width: 6px;
    height: 6px;
    background-color: #ffa800;
    float: right;
    margin: 6px 15px;
    border-top-color: transparent;
    transform: rotate(45deg);
}
.servicos h3{
    font-family: gentleman-bold!important;
    color: #000;
}

.servicos{
    display: block!important;
    margin: 0 20px!important;
}
.servicos p{
    color: #999999!important;
}
.servicos h4 {
    font-family: gentleman-bold;
    letter-spacing: 7px;
}
.servico-item {
    margin-top: 60px;
}
.servico-descricao{
    width: 90%;
}
/************************** SEGMENTOS **************************/
.port-image {
    width: 100%;
    display: block;
    float: left;
    margin: 0!important;
    padding: 0!important;
}
.segmentos .row {
    margin: 0!important;
    padding: 0!important;
}
.segmentos .col-md-4 {
    margin: 0!important;
    padding: 0!important;
}
.each-item {
    position: relative;
    overflow: hidden;
}
.each-item:hover .cap2,
.each-item:hover .cap1 {
    left: 0px;
}
.cap1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: -100%;
    padding: 10px;
    text-align: center;
    transition: all .5s;
    color: #fff;
}
.segmentos {
    margin: 40px auto 0 auto;
}
.filtro-bg {
    background: #000;
    padding: 10px;
    height: 120px!important;
    margin-top: 150px;
}
 .btn-segmento {
    display: inline-flex;
    height: 100px;
    width: 100%;
    margin: auto;
    float: left;
} 
.filter-button.btn.btn-yellow{
    margin-right: 35px!important;
}
.btn.btn-yellow {
    background: #222222;
    border-radius: 0 !important;
    color: #999999;
    outline:0!important;
    outline-color: transparent;
    width: 100%;
    display: block;
    margin-left: 22px!important;
    font-family: gentleman;
    padding: 8px 10px 8px 10px!important;
}
.btn.btn-yellow:focus,
.btn.btn-yellow.active,
.btn.btn-yellow:hover{
    background: #ffa800;
    border-radius: 0;
    color: #fff;
}
/************************** PROCESSO **************************/
.processo {
    background-image: url('assets/img/bg/fundo_parallax_sessao.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
}
.processo h3{
    padding-top: 115px;
    font-family: gentleman-bold!important;
    color: #000;
}
.processos{
    display: inline;
    width: 100%;
    margin: auto;
    float: left;
    
}
.processo-item img{
    display: block;
    margin:0 auto;
    width: 200px;
}
.processo-item p{
    color:#999999!important;
    width: 90%;
    display: block;
    margin: 0 auto;
}
.tab-content{
    color: #999999;
}
.table-circles{
    display: block;
    width: 100%;
}
.nav-tabs{
    display: flex!important; 
    margin-bottom: ;
}
.nav-tabs>li {
    margin: 20px 30px;
}
.nav-tabs>li>a {
    background-color: transparent;
    color: #fff!important;
    margin-right: 2px!important;
    border: 1px solid #ddd!important;
    height: 200px!important;
    border-radius: 100%!important;
    width: 200px!important;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus {
    color: #fff!important;
    cursor: default;
    background-color: #ffa800!important;
    transition: all 1s;
    border: 1px solid #ddd;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    transition: all 1s ease-in; 
}
.height-line {
    background: #ddd;
    width: 1px;
    height: 60px;
    margin-top: 0px;
    margin-left: 100px;
}
.nav-tabs>li> a {
    display: inline-table;
    color: #222222!important;
    padding-top: 90px!important;
    font-size: 14px;
    text-align: center!important
}
.nav-tabs>li> a:hover {
    display: inline-table;
}
/************************** SOBRE **************************/
.sobre{
    margin-top: 0px;
    background-color: #f5f5f5;
}
.sobre>.counter {
    padding-left: 30px;
}
.sobre p {
    margin: -40px 30px 30px 30px;
}
.sobre h3{
    margin-top: 115px!important;
    margin-bottom: -20px!important;
}
.titulo-cor h2 {
    font-weight: 900;
    font-size: 40px;
    display: block;
    float: left;
    font-family: gentleman-black!important;
    letter-spacing: normal;
    margin-left:25px;
}
.yellow {
    color: #ffa800!important;
    margin-right: 5px;
}
.pink {
    color: #e3147c!important;
    margin-right: 5px;
}
.blue {
    color: #2fbded!important;
    margin-right: 5px;
}
.counter h5 {
    position: inherit!important;
    margin-top: 23px;  
    font-size: 14px!important;
}
/************************** CTA **************************/
.cta {
    background-color: #ffa800;
    height: 200px;
    margin-top:120px;
    } 

.cta button {
    background-color: #000;
    color: #fff;
    border: 0;
    padding: 15px;
    width: 70%;
    max-width: 300px;
}
.cta button:hover {
    background-color: #565658;
    transition: 1s;
}
.cta h4 {
    display: inline-block;
    margin-top: 30px;
    color: #222222;
}
.conteudo {
    padding-top: 44px;
}
.modal{
    top: 150px!important;

}
.modal h3 {
    letter-spacing: normal;
}
.modal-body{
    padding:0 60px!important;
}
.modal span{
    width: 100%;
}
.modal-open .modal {
    background-color: rgba(0,0,0,.7)!important;
    overflow-x: hidden;
    overflow-y: auto;
}

.modal input[type=file] button{
    background-color: transparent;
    display: none;
}

.modal form button{
    display: block;
    margin:40px auto!important;
    width: 200px;
}
.upload-custom-upload{
 position: relative;
}

.upload-custom-upload input[type="file"]{
 position: absolute;
 top: 0;
 bottom: 0;
 left: 0;
 width: 100%;
 cursor: pointer;
 opacity: 0;
}


.inputfile + label {
    max-width: 80%;
    font-size: 1.25rem;
    /* 20px */
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: pointer;
    display: inline-block;
    
    padding: 0.625rem 1.25rem;
    /* 10px 20px */
}

.no-js .inputfile + label {
    display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
    outline: 1px dotted #000;
    outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
    /* pointer-events: none; */
    /* in case of FastClick lib use */
}

.inputfile + label svg {
    width: 1em;
    height: 1em;
    vertical-align: middle;
    fill: currentColor;
    margin-top: -0.25em;
    /* 4px */
    margin-right: 0.25em;
    /* 4px */

}


/* style 3 */

.inputfile-3 + label {
    color: #222222;
}

.inputfile-3:focus + label,
.inputfile-3.has-focus + label,
.inputfile-3 + label:hover {
    color: #222222;
}




/************************** MAPA **************************/
#googleMap {
    width: 100%;
    height: 470px;
    margin: 0!important;
    padding: 0!important;
    margin-top: 50px!important;
    margin-bottom: 115px!important;
}
/************************** FOOTER **************************/
.footer {
    background-color: #000;
    padding: 60px 0 0 0 !important;
}
.contato h3 {
    color: #fff;
    margin-top: 115px!important ;
    margin-left: 0 !important;
    font-family: gentleman-bold!important
}
.logo-footer {
    margin-bottom: 26px;
}
.footer p {
    color: #999999;
    font-weight: 200;
    font-size: 13px;
    line-height: 20px;
}
.footer span {
    color: #fff;
    font-weight: 200;
    font-size: 14px;
    line-height: 20px;
}
.footer h5 {
    font-size: 12px;
    color: #fff;
    letter-spacing: 5px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.footer .canais {
    margin-bottom: 60px!important;
    margin-left:  80px;
}
.footer .canais img {
    margin-right: 18px;
}
.copyright {
    background: #222222;
    z-index: 2;
    height: auto;
    position: relative;
    bottom: 0;
    padding: 20px 0 8px 0!important;
}
.copyright a {
    color: #ffa800;
}
.copyright a:hover {
    color: #e51e82;
    transition: 1s;
}

/************************** FORMULARIO **************************/
form{
    margin-top: 50px;
}
.form-control {
    background: rgba(0, 0, 0, .5)!important;
    border-radius: 0 !important;
    border: 0 solid transparent !important;
    padding: 25px !important;
    outline:0!important;
    outline-style: none!important;
    color: #fff!important;
}
.form-control:focus {
    outline:0!important;
    outline-style: none !important;
    color: #fff!important;
    background-color: rgba(0, 0, 0, .8)!important;
}
form button {
    background-color: #ffa800;
    border-radius: 0!important;
    margin-top: 30px;
    margin-left: -30px !important;
    margin-bottom: 60px !important;
    outline:0!important;
    outline-style: none!important;
}
form button:hover {
    background-color: #565658;
    color: #fff !important;
    transition: all 1s;
}
form select {
  background: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: 0;
  border-radius: 0;
  padding: 15px;
  -webkit-appearance: menulist;
  width: 100%;
}
form select:focus {
  outline:0!important;
  outline: none;
}
form .col-md-6{
    margin-left: 0!important;
    margin-right: 0px!important;
    padding-left: 0!important;
    padding-right: 0px!important;
}
.form-error{
  border: 1px solid orange;
  color: #fff;
}
.help-block{
  display: none;
  color: #fff
}
.valid-error{
    display: block;
    background: orange;
    margin-top: 20px;
    padding: 5px;
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}
/************************** BOTAO DE VOLTA AO TOPO **************************/
.topo {
    background: rgba(255, 168, 0, 0.9);
    border: 2px solid #fff;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 999999;
    color: #000!important;
    font-size: 20px;
    padding: 5px 10px;
}
.topo a {
    color: #fff;
    text-decoration: none;
}
.topo a:hover {
    color: #000;
    transition: all 1s;
}
.topo a:focus {
    color: #000;
    transition: all 1s;
}
.topo:hover {
    background-color: rgba(255, 168, 0, 0.5);
    border: 2px solid #0000;
}
/************************** BODY **************************/
body::-webkit-scrollbar {
    width: .5em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(255, 168, 0, 0.9);
  outline:0!important;
  outline: 1px solid rgba(255, 168, 0, 0.9);
}
body {
    overflow-x: hidden!important;
    width: 100%!important;
    outline:0!important;
    outline-style: none!important;
}
textarea::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff!important;
  font-family: gentleman!important
}
textarea::-moz-placeholder { /* Firefox 19+ */
  color: #fff!important;
  font-family: gentleman!important
}
textarea:-ms-input-placeholder { /* IE 10+ */
  color: #fff!important;
  font-family: gentleman!important
}
textarea:-moz-placeholder { /* Firefox 18- */
  color: #fff!important;
  font-family: gentleman!important
}
input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff!important;
  font-family: gentleman!important
}
input::-moz-placeholder { /* Firefox 19+ */
  color: #fff!important;
  font-family: gentleman!important
}
input:-ms-input-placeholder { /* IE 10+ */
  color: #fff!important;
  font-family: gentleman!important
}
input:-moz-placeholder { /* Firefox 18- */
  color: #fff!important;
  font-family: gentleman!important
}
.container-fluid {
    padding: 0!important;
    margin: 0!important;
}
.container{
    padding-right: 15px!important;
    padding-left: 15px!important;
    margin-left: auto!important;
    margin-right: auto!important;
}
body button {
    border-radius: 0!important;
    margin: 30px 20px!important;
}
form button{
    margin: 15px 20px 30px 0!important;
    padding-top: 20px!important;
    padding-bottom: 15px!important;
    padding-right: 30px!important;
    padding-left: 30px!important;
    color:#000!important;
    font-family: gentleman!important;
    font-size: 14px!important;
}
.form-control{
    width: 98%!important;
}
.container-fluid>.row{
    margin-right: 0!important;
    margin-left: 0!important;
}
@media ( max-width: 1024px){
    .processos{
    display: inline-flex!important;
    width: 100%!important;
    margin: auto!important;
    float: left!important;
    overflow-x: scroll!important;
    }
    .titulo-cor{
    text-align: center;
    display: block;
    margin: -20px 10px!important;
    }
    .counter h5{
        display: block!important;
        margin: 0 30px;
    }
}
@media (max-width: 992px){

.titulo-cor{
            text-align: center;
            display: block;
            margin: 20px 290px!important;
    }
    .counter h5 {
        margin-top: 44px!important;
    }
    .btn-segmento {
    display: inline-flex!important;
    height: 100px;
    width: 100%;
    margin: auto;
    float: left;
    overflow-x: scroll!important;
    }
    .ziriga{
    text-align: left!important;
}
}
/* MEDIA QUERY MINOR 768 */

@media (max-width: 767px){
.navbar-collapse{
    margin-right: 15px;
    margin-left: 15px;
    height: 500px!important;
    background-color: #222222!important;
    text-align: left!important;
    height: auto !important;
}
.ziriga{
    text-align: left!important;
}
.processos{
    display: inline-flex!important;
    width: 100%;
    margin: auto;
    float: left;
    overflow-x: scroll!important;
}

 .btn-segmento {
    display: inline-flex;
    height: 100px;
    width: 100%!important;
    margin: auto;
    float: left;
    overflow-x: scroll!important;
    overflow-y: hidden;
} 
.footer .canais {
    margin-top: 60px;
    margin-bottom: 60px!important;
    margin-left:  0px!important;
    }
    .meio-menu{
        display: none;
    }
    .navbar-nav>li>a {
    margin-top: 18px!important;
    margin-left: 20px;
    text-align: left!important;
    line-height: 10px;
    padding-top: 9px !important;
    margin-right: 5px;
    font-size: 1em;
    }
    .navbar-toggle{
        padding: 0!important;
    }
    .counter h5{
        margin-top: 0;
    }
    .cta h4 {
        display: inline-block;
        margin-top: 10px!important;
    }
    .titulo-cor{
            text-align: center;
            display: block;
            margin: 20px 290px!important;
    }

    .counter h5{
        margin-top: 44px;
    }
    .clearfix{
    margin-bottom: -30px!important;
    }
    .carousel{
        margin-bottom: 70px;
    }
    .processo h3{
        margin-top: -20px!important;
    }

    .sobre p{
        margin-top: 25px;
        margin-bottom: -20px;
    }
    .sobre{
        padding-bottom: 40px
    }
}
/* 475 */
@media (max-width: 425px){
    .titulo-cor{
        text-align: center;
        display: block;
        margin: 20px 80px!important;
    }
    .processos{
    display: inline-flex;
    width: 100%;
    margin: auto;
    float: left;
    overflow-x: scroll!important;
    margin-top: 40px!important;
}
    .footer .canais {
        margin-top: 60px;
    margin-bottom: 60px!important;
    margin-left:  0px!important;
    }
     .counter h5{
        margin-top: 44px;
    }
    .clearfix{
    margin-bottom: -40px!important;
    }
    .carousel{
        margin-bottom: 50px;
    }
    .servicos h3{
        margin-bottom: -30px!important;
    }
    .processo h3{
        margin-top: -50px!important;
        margin-bottom: -30px!important;
    }
    .filtro-bg{
        margin-top: 60px;
    }
    .descricao h3{
        margin-top: 60px!important;
    }
    .sobre{
        margin-top: 0px!important;
    }
    .sobre p{
        margin-top: 30px!important;
        margin-bottom: -20px;
    }
    .sobre{
        padding-bottom: 40px
    }
    .contato h3{
        margin-top: 60px!important;
        margin-bottom: -20px!important;
    }
    .processo{
        height: 700px!important;
           margin-bottom: -120px!important;
    
    }
}
  
@media (max-width: 375px){
    .titulo-cor{
        text-align: center;
        display: block;
        margin: 20px 70px!important;
    }
    .processos{
    display: inline-flex;
    width: 100%;
    margin: auto;
    float: left;
    overflow-x: scroll;
 
}
    .cap1 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    top: 0;
    left: -100%;
    padding: 10px;
    text-align: center;
    transition: all .5s;
    color: #fff;
    }
    .counter h5{
        margin-top: 44px;
    }
    .clearfix{
    margin-bottom: -40px!important;
    }
    .carousel{
        margin-bottom: 50px;
    }
    .servicos h3{
        margin-bottom: -30px!important;
    }
    .processo h3{
        margin-top: -50px!important;
        margin-bottom: -30px!important;
    }
    .processo{
        margin-bottom: -120px!important;
    }
    .filtro-bg{
        margin-top: 60px;
    }
    .descricao h3{
        margin-top: 60px!important;
    }
    .sobre{
        margin-top: 0px!important;
    }
    .sobre p{
        margin-top: 30px!important;
        margin-bottom: -20px;
    }
    .sobre{
        padding-bottom: 40px
    }
    .contato h3{
        margin-top: 60px!important;
        margin-bottom: -20px!important;
    }
    .processo{
        height: 690px!important;
    }
    .footer .canais {
    margin-top: 60px;
    margin-bottom: 60px!important;
    margin-left:  0px!important;
    }
    .topo{
        bottom: 70px!important;
    }
}


.col-md-1-2{
    width: 187px!important;
    padding-right: 15px!important;
    padding-left: 15px!important;
}

